<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="GOST Hash"/>
    <title>ГОСТ Р 34.11-94 Хэш</title>

    <!-- Required Stylesheets -->
    <link
            type="text/css"
            rel="stylesheet"
            href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
            type="text/css"
            rel="stylesheet"
            href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
    />

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="app">
    <b-container>
        <b-jumbotron header="ГОСТ Р 34.11-94" lead="Хэш-функция">
        </b-jumbotron>
        <b-row>

            <b-col sm="6">
                <b-form-group
                        horizontal
                        :label-cols="4"
                        description="Введите текст для выполнения хэширования"
                        label="Данные:"
                >

                    <b-form-textarea
                            id="textarea-input"
                            v-model="input"
                            size="lg"
                            placeholder="Enter something..."
                            rows="3"
                            max-rows="6"
                            v-on:edit=""
                    ></b-form-textarea>
                </b-form-group>
                <b-form-group horizontal
                              :label-cols="4"
                              label="Хэшированный текст:"
                              v-if="showResult">

                    <b-form-textarea
                            id="textarea-output"
                            size="lg"
                            placeholder="Enter something..."
                            rows="3"
                            max-rows="6">
                    </b-form-textarea>
                </b-form-group>

            </b-col>
            <b-col sm="4">
                <div class="card">
                    <div class="card-body">
                        <b-form-file
                                @change="onFileSelect"
                                v-model="file"
                                :state="Boolean(file)"
                                placeholder="Choose a file or drop it here..."
                                drop-placeholder="Drop file here..."
                        ></b-form-file>
                        <div class="mt-3">Selected file: {{ file ? file.name : '' }}</div>
                    </div>
                </div>
            </b-col>
        </b-row>


    </b-container>
    <input id="port" type="hidden" name="userName" value="" th:value="${appProperties.get('port')}">
    <input id="host" type="hidden" name="userName" value="" th:value="${appProperties.get('host')}">
    <input id="controller" type="hidden" name="userName" value="" th:value="${appProperties.get('controller')}">
</div>


<script>


    window.app = new Vue({
        el: '#app',
        data: {
            input: '',
            result: '',
            file: null,
            port: '',
            host: '',
            controller: '',

        },
        methods: {
            async onFileSelect(val) {
                this.input = ""
                const response = await axios.post('http://' + this.host + ':' + this.port + this.controller,
                    {
                        data: this.filename
                    })
                    .catch(function (error) {
                        console.log(error)
                        this.result = "Server error"
                    })
                const element = document.querySelector('#textarea-output');
                element.innerHTML = response.data
                // return

            },
        },
        watch: {
            input: {
                handler: async function (val) {
                    const response = await axios.post('http://' + this.host + ':' + this.port + this.controller,
                        {
                            data: this.input
                        })
                        .catch(function (error) {
                            console.log(error)
                            this.result = "Server error"
                        })
                    const element = document.querySelector('#textarea-output');
                    element.innerHTML = response.data
                    // return

                },
                deep: true

                ,
            }
        },
        computed: {
            showResult() {
                return this.input.length > 0 || this.filename !== ''
            },
            filename() {
                if (this.file != null)
                    return this.file.name
                else
                    return ''
            }
        },
        created() {
            this.port = document.querySelector('#port').value
            this.host = document.querySelector('#host').value
            this.controller = document.querySelector('#controller').value
        }
    })


</script>


</body>
</html>
