<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="GOST Hash"/>
    <title>ГОСТ Р 34.11-94 Хэш</title>

    <!-- Required Stylesheets -->
    <link
            type="text/css"
            rel="stylesheet"
            href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
            type="text/css"
            rel="stylesheet"
            href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
    />

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="app">
    <b-container>
        <b-jumbotron header="ГОСТ Р 34.11-94" lead="Хэш-функция">
        </b-jumbotron>
        <b-row>

            <b-col sm="8">
                <b-form-group
                        horizontal
                        :label-cols="4"
                        description="Введите текст для выполнения хэширования"
                        label="Данные:"
                >
                    <b-form-textarea
                            id="textarea-input"
                            v-model="input"
                            size="lg"
                            placeholder="Enter something..."
                            rows="3"
                            max-rows="6"
                            v-on:edit=""
                    ></b-form-textarea>
                </b-form-group>
                <b-form-group horizontal
                              :label-cols="4"
                              label="Хэшированный текст:"
                              v-if="showResult">

                    <b-form-textarea
                            id="textarea-output"
                            size="lg"
                            placeholder="Enter something..."
                            rows="3"
                            max-rows="6">
                    </b-form-textarea>
                </b-form-group>


            </b-col>
        </b-row>


    </b-container>
</div>
</div>

<script>


    window.app = new Vue({
        el: '#app',
        data: {
            input: '',
            result: '',


        },
        watch: {
            input: {
                handler: async function (val) {
                    const response = await axios.post('http://localhost:8090/api/hash',
                        {
                            data: this.input
                        })
                        .catch(function (error) {
                            console.log(error)
                            this.result = "Server error"
                        })
                    const element = document.querySelector('#textarea-output');
                    element.innerHTML = response.data
                    // return

                },
                deep: true

                ,
            }
        },
        computed: {
            showResult() {
                return this.input.length > 0 ? true : false
            }
        }
    })


</script>

</body>
</html>
